main p {
    font-size:  20px;
}



#LinkPag{
   
    margin: 0px auto;
    display: block;
    text-align: center;
     width: 300px;
    color: #ffffff;
    background-color: #1F2937;
    border: 2px solid #1F2937;
   
}
 
#LinkPag:hover{
    color: #34D399;
}

